body{background-color:#a5a8e9 ; margin:10% ;}
h1{text-align: center; font-size: 5vh; 
    color: rgb(37, 33, 33);
     text-shadow: 5px 5px 10px black;}

img{width:300px;height:200px; margin-left: 33% ;margin-right: 40%; }

.caption{font-size: 17px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  }

h2{text-align: center;font-size: 4vh;margin-bottom: 5px;}

p{ background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px  #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;}
    a:link{color:rgb(7, 17, 107);font-size:2vh ;}
    a:visited{color: #98FB98;font-size: 2vh;}
    a:hover{color: aqua;}